.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal {
  background-color: #fff;
  width: 25%;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal-header h2 {
  margin: 0;
}

.modal-close {
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-body {
  margin-bottom: 20px;
}

.modal-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-item span:nth-child(1) {
  width: 33%;
}

.modal-item span:nth-child(2) {
  width: 33%;
  text-align: center;
  margin-left: 7.5%;
}

.modal-item span:nth-child(3) {
  width: 33%;
  text-align: end;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.modal-footer span:first-child {
  font-weight: bold;
}
